*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    --shadow: rgba(128, 128, 128, 0.363);
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    font-family: "Kumbh Sans";
}

@font-face {
    font-family: "Kumbh Sans";
    src: url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
}

.main {
    /* Background */
    background: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg) var(--dark-cyan);
    background-repeat: no-repeat;
    /* background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw); */
    background-position: right calc(40vw + 15%) bottom calc(65vh - 20vw), left calc(40vw + 25%) top calc(72vh - 10vw);
    /* Engineer this |^ */
    /* Centering the card */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Ensuring display of the main section */
    min-height: 100vh;
}

.card {
    /* Display */
    display: grid;
    grid-template-rows: 0.8fr 1fr 0.55fr;
    /* Backgroud */
    background-color: #fff;
    /* Sizing */
    width: 340px;
    /* Border Styling */
    border-radius: 20px;
    /* Shadowing */
    box-shadow: 1px 1px 5px 2px var(--shadow), -1px -1px 5px 2px var(--shadow);
}


/* Card Sizing */


/* @media(min-width:425px) {
    .card {
        width: 400px;
    }
} */

.section-1 {
    /* Setting Background */
    background: url(/images/bg-pattern-card.svg);
    background-size: cover;
    /* Borders */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    /* Positioning the display Profile */
    position: relative;
}

.display-profile {
    /* Image Border */
    border: 3px solid white;
    border-radius: 50%;
    /* Positioning */
    position: absolute;
    left: 35%;
    bottom: -37.5%;
}


/* Positioning the image for proper size */

@media(min-width:425px) {
    .display-profile {
        left: 37.5%;
    }
}

.section-2 {
    /* Bottom Border Line */
    border-bottom: 1px solid var(--dark-gray);
    /* Padding */
    padding: 5em 3em 1.8em 3em;
    /* Aligning Child Text; */
    text-align: center;
    /* Adjusting font Settings */
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark-gray);
    letter-spacing: 1px;
}

.name {
    /* Adjusting Font Settings */
    color: var(--very-dark-desaturated-blue);
    font-size: 1.4rem;
    letter-spacing: unset;
    /* Adding Inline Display */
    display: inline;
}

.age {
    /* Adjusting Font Settings */
    font-size: 1.4rem;
}

.city {
    /* Adjusting Font Settings */
    font-size: 1.1rem;
    /* Positioning */
    margin-top: 0.8rem;
}

.section-3 {
    /* Display */
    display: flex;
    align-items: center;
    justify-content: center;
    /* Sizing */
    width: 100%;
    /* Adjusting Borders */
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.stats-subsection {
    /* Sizing */
    width: 33%;
    /* Font Settings */
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--dark-gray);
    font-size: 0.8rem;
    text-align: center;
    letter-spacing: 1px;
}

.stats-numerical {
    /* Font Settings */
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 1.2rem;
    /* Positioning */
    margin-bottom: 0.4rem;
}